@mixin button ($bg-col, $t-col) {
    background-color: $bg-col;
    color: $t-col;
    border: none;
    height: 50px;
    width: 140px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
}

@mixin link ($color, $size) {
    color: $color;
    font-size: $size;
    letter-spacing: -0.2pt;
}

@mixin highlight ($height, $width, $bottom, $left) {
    content: "";
    display: block;
    height: $height;
    width: $width;
    bottom: $bottom;
    left: $left;
    background-color: map-get($map: $color, $key: highlights);
    position: absolute;
    z-index: -1;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    height: 85vh;
    background-image: $back-img;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 800px/300px 0;
    color: map-get($map: $color, $key: header-font);
    z-index: -2;

    &-wrap {
        margin-left: 192px;
        width: 660px;

        .header_heading {
            font-size: 72px;
            font-weight: 600;
            margin: 80px 0 40px 0;
            line-height: 1em;
            position: relative;
            z-index: 1;
            &::after {
                @include highlight($height: 48px, $width: 300px, $bottom: 1px, $left: 0);
            }
        }

        .header_text {
            font-size: 16px;
            white-space: pre-line;
            line-height: 24px;
            font-family: $font;
        }

        div:last-of-type {
            margin-top: 65px;

            .header_button {
                @include button ($bg-col: map-get($map: $color, $key: join-us), $t-col: map-get($map: $color, $key: white));
            }

            a {
                @include link ($color: map-get($map: $color, $key: white) , $size: 18px);
                padding-left: 140px;
            }
        }    
    } 
}

.landing-logo {
    padding-top: 20px;
    width: $logo-width;
    img {    
        float: left;
    }
    p {
        font-family: $font;
        font-weight: 600;
        font-size: 24px;
        line-height: 0.75em;
        padding: 6px 0 0 60px;
        margin: 0;
        span {
            display: block;
            text-align: center;
            font-size: 9px;
        }
    }
}

.section {
    padding-top: 40px;
    position: relative;

    .section_text {
        color: map-get($map: $color, $key: header-font);
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin: 0;
        position: relative;
        &::after {
            @include highlight($height: 48px, $width: 180px, $bottom: 1px, $left: 767px);
        }
    }

    .section_card_wrap {
        margin: auto;
        width: 1110px;
    }
}

.section_card {
    border-radius: 4px;
    padding: 15px 100px 15px 15px;
    box-sizing: border-box;
    display: flex;
    background-color: map-get($map: $color, $key: main);
    margin-bottom: 25px;

    &:first-child {
        margin-top: 40px;
    }

    .section_card_img {
        border-radius: 4px;
        width: 100vw;
    }
}

.section_card_right_container {
    padding: 3% 0 2% 89px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .section_card_heading {
        color: map-get($map: $color, $key: white);
        font-size: 24px;
        text-align: center;
        margin: 18px;
        letter-spacing: -0.3px;
    }
    a {
        @include link ($color: map-get($map: $color, $key: paragraf-font), $size: 16px);
        text-align: center;
    }
}

.section_card_text {
    margin: 0;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.1px;
    font-family: $font;
    color: map-get($map: $color, $key: paragraf-font);
}

.section_banner {
    background: linear-gradient(45deg, map-get($map: $color, $key: join-us), map-get($map: $color, $key: banner));
    position: absolute;
    width: 1198px;
    height: 144px;
    left: 361px;
    bottom: -284px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 161px;
    display: flex;
    justify-content: space-between;
    .section_banner_text_wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 0 34px;
    }
    .section_banner_text {
        @extend .section_card_text;
        letter-spacing: 0;
    }
    .section_banner_button {
        @include button ($bg-col: map-get($map: $color, $key: join-us), $t-col: map-get($map: $color, $key: white));
        align-self: center;
    }
}

.section_banner_heading {
    color: map-get($map: $color, $key: header-font);
    font-size: 30px;
    letter-spacing: 0.1px;
    margin: 0;
    position: relative;
    z-index: 1;
    &::after {
        @include highlight($height: 50px, $width: 64px, $bottom: 0, $left: 121px);
    }
}

.footer {
    background-color: map-get($map: $color, $key: main);
    margin-top: 210px;
    height: 243px;
    padding-top: 117px;
    box-sizing: border-box;
    .footer_logo {
        color: map-get($map: $color, $key: paragraf-font);
    }
    .footer-wrap {
        margin: 0 192px;
        display: flex;
        justify-content: space-between;
        .footer_text {
            @extend .section_card_text;
            width: 293px;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0;
            text-align: left;
            padding-top: 10px;
            align-self: center;
            margin-left: $ft-text-margin-left;
        }
        .footer-cr {
            @extend .footer_text;
            margin: 0;
            font-size: 16px;
            text-align: right;
            align-self: center;
        }
    }
}