@mixin button ($bg-col, $t-col) {
    background-color: $bg-col;
    color: $t-col;
    border: none;
    height: 50px;
    width: 140px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
}

@mixin link ($color, $size) {
    color: $color;
    font-size: $size;
    letter-spacing: -0.2pt;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    height: 85vh;
    background-image: $back-img;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 800px/300px 0;
    color: map-get($map: $color, $key: header-font);

    &-wrap {
        margin-left: 192px;
        width: 660px;

        .header_heading {
            font-size: 72px;
            font-weight: 600;
            margin: 80px 0 40px 0;
            line-height: 1em;
            position: relative;
        }

        .header_text {
            font-size: 16px;
            white-space: pre-line;
            line-height: 24px;
            font-family: $font;
        }

        div:last-of-type {
            margin-top: 65px;

            .header_button {
                @include button ($bg-col: map-get($map: $color, $key: join-us), $t-col: map-get($map: $color, $key: white));
            }

            a {
                @include link ($color: map-get($map: $color, $key: white) , $size: 18px);
                padding-left: 140px;
            }
        }    
    } 
}

.landing-logo {
    padding-top: 20px;
    width: 120px;

    img {    
        float: left;
    }
    
    p {
        font-family: $font;
        font-weight: 600;
        font-size: 24px;
        line-height: 0.75em;
        padding: 6px 0 0 60px;
        margin: 0;

        span {
            display: block;
            text-align: center;
            font-size: 9px;
        }
    }
}

.section {
    padding: 40px 0;
    position: relative;

    &_link {
        color: #c0c3ce;
        text-align: center;
    }

    &_text {
        color: map-get($map: $color, $key: header-font);
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin: 0;
        position: relative;
    }

    &_card_wrap {
        margin: 40px auto;
        width: 60vw;
    }

    &_card {
        border-radius: 4px;
        padding: 15px;
        display: flex;
        background-color: map-get($map: $color, $key: main);
        margin-bottom: 25px;

        &_heading {
            color: map-get($map: $color, $key: white);
            font-size: 24px;
            text-align: center;
            margin: 18px;
            letter-spacing: -0.3px;
        }

        &_right_container {
            padding-left: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
        }
    
        &_text {
            font-family: $font;
            font-size: 14px;
            color: #c0c3ce;
            text-align: justify;
        }
    
        &_img {
            border-radius: 4px;
            width: 100vw;
        }
    }

    &_banner {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(45deg, map-get($map: $color, $key: join-us), map-get($map: $color, $key: banner));
        width: 1000px;
        height: 140px;
        margin: 0 auto -320px auto;
        border-radius: 4px;
        padding: 0 150px;

        &_text {
            @extend .section_card_text;

            &_wrap {
                justify-content: space-around;
                padding: 15px 0 30px 0;
            }
        }
        
        &_button {
            @include button ($bg-col: map-get($map: $color, $key: join-us), $t-col: map-get($map: $color, $key: white));
            align-self: center;
        }

        &_heading {
            color: map-get($map: $color, $key: header-font);
            font-weight: 600;
            font-size: 30px;
            margin: 5px 0;
        }
    }
}

.footer {
    background-color: map-get($map: $color, $key: main);
    margin-top: 200px;
    padding: 120px 0 30px 0;

    &_logo {
        color: #fff;
        width: 120px;

    }

    &-wrap {
        display: flex;
        justify-content: $footer-position;
        margin: 0 20px;
    }

    &_text {
        @extend .section_card_text;
        width: 300px;
        text-align: left;
        align-self: center;
    }

    &-cr {
        @extend .footer_text;
        margin: 0;
        font-size: 16px;
        text-align: right;
        align-self: center;
    }
}
