$back-img: url("../img/m-h-day.jpg");

$font: 'Hind', sans-serif;

$footer-position: space-between;

$color: (
    highlights: #17a5cc,
    join-us: #6d9e02,
    back: #fff,
    main: #242631,
    header-font: #2d303d,
    white: #fff,
    banner: #2f5fe2
);

