$back-img: url("../img/m-h-night.jpg");

$font: 'Fresca', sans-serif;

$footer-position: space-around;

$color: (
    highlights: #fc4d32,
    join-us: #e2ab04,
    back: #1f212b,
    main: #3c4050,
    header-font: #fff,
    white: #fff,
    banner: #972f59
);
