$back-img: url("../img/m-h-night.jpg");

$font: 'Fresca', sans-serif;

$color: (
    highlights: #ff4e33,
    join-us: #e3ac00,
    main: #3b3f50,
    backgroung: #21232e,
    header-font: #fff,
    white: #fff,
    paragraf-font: #c0c3ce,
    banner: #922b54
);

$logo-width: 110px;

$ft-text-margin-left: 100px;