$back-img: url("../img/m-h-day.jpg");

$font: 'Hind', sans-serif;

$color: (
    highlights: #14a0c7,
    join-us: #699900,
    main: #21232e,
    backgroung: #fff,
    header-font: #2c2f3c,
    white: #fff,
    paragraf-font: #c0c3ce,
    banner: #2c5ade
);

$logo-width: 130px;

$ft-text-margin-left: 80px;