body {
    margin: 0;
    font-family: Georgia, serif;
}

.header {
    display: flex;
    top: 0;
    color: #777;
    background-color: #ffffff;
    height: 100px;
    position: fixed;
    width: 100%;
}

.header-heading {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    padding: 25px 0 25px 75px;
}

.nav-menu {
    list-style: none;
    padding: 50px 0 50px 25vw;    
}

.nav-menu a {
    color: #777;
    text-decoration: none;
    padding: 10px 20px;  
}

.nav-menu a:hover {
    color: #bfba55;
    transition: 0.2s;
}

.top-section {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../img/home-bg.jpg') no-repeat;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hello-heading {
    font-size: 48px;
    color: #ffffff;
    line-height: 0.5em;
}

.hello-text {
    font-size: 12px;
    color: #bfba55;
    margin-bottom: 60px;
}

.more-link {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
    background-color: #ffffff;
    padding: 12px 24px;
    border-radius: 24px;
}

.more-link:hover {
    color: #bfba55;
    transition: 0.2s;
}

.blog-article {
    margin: 50px auto;
    width: 600px;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

.blog-article p {
    color: #777;
    font-size: 10px;
    line-height: 2em;
}

.continue-link {
    display: block;
    height: 20px;
    width: 100px;
    padding: 5px 10px;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;
    color: #777;
    border: 1px solid #777;
    border-radius: 20px;
}

.article-info {
    margin: 5px;
}

.blog-image {
    width: 600px;
}

.article-elements {
    font-size: 10px;
    color: #777;
    display: flex;
    align-items: center;
}

.author-image {
    width: 40px;
    border-radius: 50%;
}

.footer {
    height: 250px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-part {
    height: 150px;
    width: 275px;
    padding: 25px;
}

.footer-heading {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.footer-text {
    color: #777;
    font-size: 10px;
    line-height: 1.5em;
}